extends layout

block content
  h1= title
  br
  br
  h3 Example usage -
  p
    a(href="https://unixtimestamp-fcc.herokuapp.com/December%2015,%202015" target="_blank") https://unixtimestamp-fcc.herokuapp.com/December%2015,%202015
  p
    a(href="https://unixtimestamp-fcc.herokuapp.com/1450137600" target="_blank") https://unixtimestamp-fcc.herokuapp.com/1450137600
